[Unit]
Description=Exporter MongoDB
After=network-online.target

[Service]
Type=simple
User=prometheus
ExecStart=/etc/prometheus/sbin/exporter_mongodb -web.listen-address=:11038
ExecStop    = kill -INT $MAINPID
ExecReload  = kill -TERM $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
